{
"extends":["stylelint-config-recommended-scss", "stylelint-config-recess-order"],
"rules":{
    "indentation": 2,
    "declaration-block-single-line-max-declarations": 1,
    "block-opening-brace-space-before": "always",
    "block-closing-brace-newline-after": "always",
    "declaration-colon-space-after": "always",
    "declaration-block-trailing-semicolon": "always",
    "value-list-comma-space-after": "always",
    "number-leading-zero": "never",
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "selector-attribute-quotes": "always",
    "length-zero-no-unit": true 

}
}