<footer class="footer">
    <div class="i1"><img src="assets/images/logo.png" class="img-fluid" id="logo"></div>
    <div class="i3">
        <ul>
            <li><img src="assets/images/gmail.png" class="img-fluid" id="logos"></li>
            <li><img src="assets/images/twitter.png" class="img-fluid" id="logos"></li>
            <li><img src="assets/images/facebook.png" class="img-fluid" id="logos"></li>
        </ul>  
    </div>
    <p class="i2">DEL 10 A 23 DE SETEMBRE DEL 2022 -  &copy; AJUNTAMENT DE VALLIRANA - 9368312314</p>
</footer>